#utilities lib.that we have to install 
numpy  # array
pandas #tabular data 
#maily used in face reconigition
scikit-learn  # mainly used for classification
#dlib #also used in face recognitions but we use another
dlib-bin
#shape ptrediction
#it will help us to doulnoald models which will help in face vector
git+https://github.com/ageitgey/face_recognition_models

setuptools<70.0.0

supabase

bcrypt #(provide hashing method"for encryption") 

segno

pillow #dealing with images

streamlit